In [35]:
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import requests

In [36]:
# browser path
!which chromedriver

/usr/local/bin/chromedriver

In [37]:
# Executable path to driver 
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

## NASA Mars News

In [38]:
# NASA Mars News Site
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

In [39]:
# HTML object
html = browser.html

# Parser
soup = BeautifulSoup(html, "html.parser")

# Retrieve the latest element that contains news title and news_paragraph
news_title = soup.find("div", class_="content_title").find("a").text
news_p = soup.find("div", class_="article_teaser_body").text

In [51]:
news_title

'NASA Invites Students to Name Mars 2020 Rover'

In [52]:
news_p

"Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover."

## JPL Mars Space Images - Featured Image

In [40]:
# Visit the url for JPL Featured Space
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [41]:
# HTML object
html = browser.html

# Parser
soup = BeautifulSoup(html, "html.parser")

# Find image
browser.find_by_id("full_image").click()

browser.is_element_present_by_text("more info", wait_time=1)
more_info_element = browser.find_link_by_partial_text("more info")
more_info_element.click()

In [42]:
# Scrap the url
html = browser.html
image_soup = BeautifulSoup(html, "html.parser")
img_url = image_soup.select_one("figure.lede a img").get("src")
img_url

'/spaceimages/images/largesize/PIA16884_hires.jpg'

## Mars Weather

In [43]:
# Visit ars weather twitter 
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

In [44]:
# HTML object
html = browser.html

# Parser
soup = BeautifulSoup(html, "html.parser")

# Retrieve the latest element that contains the martian weather
tweets = soup.find_all('div', class_='js-tweet-text-container')

# Look for last weather tweet
for tweet in tweets: 
    weather_tweet = tweet.find('p').text
    if 'sol' and 'pressure' in weather_tweet:
        print(weather_tweet)
        break
    else: 
        pass

InSight sol 265 (2019-08-25) low -99.4ºC (-146.9ºF) high -26.3ºC (-15.3ºF)
winds from the SSE at 5.3 m/s (12.0 mph) gusting to 16.1 m/s (35.9 mph)
pressure at 7.50 hPapic.twitter.com/9YLawm67zS

## Mars Facts

In [45]:
# Mars facts page
url = "http://space-facts.com/mars/"
browser.visit(url)

In [46]:
# Use pandas to scrape the table containing facts about the planet
mars_facts = pd.read_html(url)
df = mars_facts[1]
df.columns = ["Attribute", "Value"]
df

              Attribute                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [47]:
# Use Pandas to convert the data to a HTML table string
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Attribute</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [48]:
# Mars hemispheres page
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [49]:
# HTML object
html = browser.html

# Parser
soup = BeautifulSoup(html, "html.parser")

# Empty urls list 
image_urls = []

# List of all the hemispheres
links = browser.find_by_css("a.product-item h3")
for item in range(len(links)):
    hemisphere = {}
    
    # Find Element on Each Loop
    browser.find_by_css("a.product-item h3")[item].click()
    
    # Find sample image and extract href
    sample_element = browser.find_link_by_text("Sample").first
    hemisphere["img_url"] = sample_element["href"]
    
    # Get title
    hemisphere["title"] = browser.find_by_css("h2.title").text
    
    # Append dictionary to the list
    image_urls.append(hemisphere)
    
    # Go back
    browser.back()

In [50]:
image_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]